.tabela-casa, .tabela-moda{
    color: #FFFFFF;
}

.tabela-casa td, .tabela-moda td{
    background-color: #424250;
}

.tabela-moda th {
    background-color: #BB86FC;
}

.tabela-casa th {
    background-color: #00C4B4;
}